<div id="clientProfile">
</div>
<div id="servicesMenu">
</div>

<h1>Fancy Spa</h1>
<div id="clientProfile">
</div>
<div id="servicesMenu">

    <h3 id="clientProfile">Client Profile</h3>
    <p>@ViewBag.name</p>

    <h5>Facial Treatments</h5>
    <p>Your @ViewBag.skinType skin type is best suited to the following facial types:</p>

    <ul>
        @foreach (var facial in ViewBag.appropriateFacialsBag)
        {
            <li>@facial</li>

        }
    </ul>

    <h5>Nail Services</h5>
    @if (ViewBag.maniPedi == "manicure")
    {
        <p>Our manicure is a great way to spend 30 minutes of your day! We use shea butter hand cream and the finest gel polish.</p>
    }
    else if (ViewBag.maniPedi == "pedicure")
    {
        <p>Relax for 45 minutes in pure luxury! Our massage chairs and experienced nail techs are here to get your feet in shape for sandal season!</p>
    }
    else
    {
        <p> Our manicure is a great way to spend 30 minutes of your day!We use shea butter hand cream and the finest gel polish.</p>
        <p>Relax for 45 minutes in pure luxury! Our massage chairs and experienced nail techs are here to get your feet in shape for sandal season!</p>
    }

</div>

@{List<string> nailPolishes = new List<string> { "#DA0066", "#00CDDA", "#2134F2", "#EB832C" };}

@foreach (var color in nailPolishes)
{
    <div class="nailpolish" style="background-color:@color">

    </div>
}